.fundof{
    background-color: black !important; 
    height: 120px !important;
}

.fonteredes{
    font-size: 60px !important;
    color: white !important;
}

.fundof2{
    background-color: black !important; 
    height: 60px !important;
}

.textosf{
    color: white !important;
}