.fundoh{
    background-color: white; 
}

.tituloh{
    color: red;
    font-weight: bold
}

.subtituloh{
    color: black;
    font-weight: bold
}

.botaoh{
    border-color: red !important;
    background-color: black !important;
    color: white !important; 
}

.fundoposts{
    background-color: red !important;
}